body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    margin-top: 50px;
    margin: 20px auto;
    padding: 20px;
    color: #333;
    background: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.city {
    margin: 40px auto;
    padding: 20px;
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#weatherBtn {
    padding: 10px 15px;
    margin: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#cityValueInput {
    padding: 10px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.data-entry {
  margin-top: 40px;
  text-align: center;
}
.city {
  display: flex;
    flex-direction: column;
    gap: 12px;
}
label {
    font-size: 16px;
}
input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}
button {
    padding: 10px;
    background: #0984e3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}
button:hover {
    background: #74b9ff;
}
.city button:hover {
  background: #0c6bd6;
}